@model IEnumerable<Presentation.Model.DecreeViewModel>

@{
    ViewData["Title"] = "GetDecree";
}

<h2>GetDecree</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DecreeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DecreeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DecreeTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DecreeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DecreeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DecreeTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
